$turing-blue: #05c2d1;

body {
  font-family: 'Roboto', sans-serif !important;
}

.navbar.navbar-clear {
  background-color: transparent;
  border: 0px none;
  margin-bottom: 0;
}

.navbar-default .navbar-nav > li > a {
  text-transform: uppercase;
  letter-spacing: 2px;
  size: 4px;
  color: white !important;
}

.navbar-brand {
  color: white !important;
  letter-spacing: 3px;
  font-family: 'Raleway', sans-serif;
  size: 4px;
  text-shadow: 2px 2px 20px #000;
}

.navbar-opaque {
  background-color: rgba(30 , 30, 30, 1);
}

.navbar-brand > span {
  color: #05c2d1;
  letter-spacing: 3px;
  font-weight: 700;
}

.banner-image {
  height: 950px;
  background-image: url('/assets/images/mentorship.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  margin-top: -50px;
  z-index: -100;
}

.banner-text {
  text-shadow: 2px 2px 4px #000;
  text-align: right;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 48px;
  padding-top: 300px;
}

.banner-text > div {
  font-size: 20px;
  text-shadow: 2px 2px 20px #05c2d1;
  text-transform: uppercase;
  margin-top: -5px;
}

.services-container {
  padding-top: 30px;
  padding-bottom: 100px;
  text-align: center;
  font-size: 18px;
}

i {
  width: 75px;
  height: 75px;
  padding: 18px;
  border-radius: 50%;
  margin-bottom: 30px;
}

i.first {
  background-color: #05c2d1;
  color: white;
}

i.second {
  background-color: #05c2d1;
  color: white;
}

i.third {
  background-color: #05c2d1;
  color: white;
}

.services-header {
  font-family: 'Raleway', sans-serif;
  font-size: 64px;
}

.services-header > div {
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
  font-size: 28px;
  color: #777;
  margin-top: -15px;
  padding-bottom: 40px;
  font-style: italic;
}

.services-description {
  color: #888;
}
