  <div class="container">
    <div class="navbar-header">
      {{#link-to 'index' class="navbar-brand"}}
        MENTOR<span>SHIP</span>
      {{/link-to}}
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>{{#link-to 'how'}}How does it work?{{/link-to}}</li>
        {{#if (getCookie 'authenticated')}}
        <li>{{#link-to 'students'}}{{getCookie 'email'}}{{/link-to}}</li>
        <li>{{#link-to 'students'}}Students{{/link-to}}</li>
        <li>{{#link-to 'mentors'}}Mentors{{/link-to}}</li>
        <li><a href="http://localhost:3000/sign_out">Sign Out</a></li>
        {{else}}
        <li>{{#link-to 'sign-up'}}Sign Up{{/link-to}}</li>
        {{/if}}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
