<div class="container services-container">
  <div class="row">
    <div class="col-md-12 services-header">
      SERVICES
      <div>
        These are the things we do.
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <i class="fa fa-child fa-2x first" aria-hidden="true"></i>
      <div class="services-description">
        Tattooed ennui venmo messenger bag, chicharrones master cleanse freegan polaroid meditation 3 wolf moon occupy kitsch bicycle rights.
      </div>
    </div>
    <div class="col-md-4">
      <i class="fa fa-paper-plane fa-2x second" aria-hidden="true"></i>
      <div class="services-description">
        Cliche franzen mustache vegan, disrupt paleo DIY truffaut church-key echo park slow-carb offal. Irony dreamcatcher plaid bicycle rights mustache narwhal swag locavore shoreditch.
      </div>
    </div>
    <div class="col-md-4">
      <i class="fa fa-rocket fa-2x third" aria-hidden="true"></i>
      <div class="services-description">
        Selvage yuccie twee mixtape, helvetica YOLO everyday carry pitchfork quinoa DIY blog kogi. Bespoke forage cold-pressed.
      </div>
    </div>
  </div>
</div>
