<nav class="navbar navbar-default navbar-opaque">
  {{partial 'navbar'}}
</nav>
<div class="container">
  <div class="row">
    <div class="well col-md-6 col-md-offset-3 sign-up-section">
      <span class="primary">Sign-up with your Github Account Today!</span>
      <span class="muted-text">Something less important goes here.</span>
      <hr>
      <a href="http://localhost:3000/auth/github" class="btn btn-turing btn-lg github-signup"><i class="fa fa-github-square fa-2x" aria-hidden="true"></i></a>
    </div>

  </div>
</div>
